body {
    margin: 0;
  }
  css-doodle {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* to be Ensure it stays behind the content */
  }
  
  
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  a{
    font: bold;
    text-decoration: none;
    color: #ff0000;
  }
  
  section {
    width: 520px;
    height: 580px;
    display: flex;
    flex-direction: column;
  }
  
  section > span {
      background-color: #565656;  
      width: 100%;
      height: 6px;
  }
  
  #card {
    background-color: white;
    background: url("/assets/img/bg-try-5.png")
      repeat-x right top #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 5px solid #b5b5b5; 
  }
  
  .title h1 {
    font-size: 34px;
    margin: 12px 0;
  }
  .title h2 {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 500;
  }
  
  #name {
    color: #fbff00;  
  }
  
  .hr1 {
    border: 0;
    height: 2px;
    width: 100%;
    background: url("/assets/img/bg-try-5.png")  /* Adjust URL to your new divider image path */
      no-repeat center;
    margin: 12px 0;
  }
  
  .card-main {
    padding: 0 25px;
  }
  
  .card-main p {
    font-size: 14px;
  }
  
  #information-button {
    margin-bottom: 18px;
    border-radius: 6px;
    padding: 12px;
    background: url(/assets/img/bg-try-5.png)
      no-repeat center;
    transition: all 0.5s;
  }
  #information-button:hover {
    background: #FEF9E7;  
  }
  
  #information-button p {
    margin: 0;
    color: #333333;  
    font-size: 13px;
  }
  
  #icons i {
    color: #000000;  
    background-color: #ffffff;  
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    transition: all 0.25s ease-in-out;
    font-size: 15px;
    line-height: 32px;
  }
  
  #icons i:hover {
    background-color: #ff8800;  
  }
  