body {
    margin: 0;
  }
  css-doodle {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it stays behind the content */
  }
  
  
  