body {
    margin: 0;
  }
  css-doodle {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* to be Ensure it stays behind the content */
  }
  
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  